<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mdsoftware.mdframework.dao.CommParamsInfoDao">
    <update id="save">
        insert into comm_params_info (`type_name`, `unique_type`, `key_name`, `key_value`, `order_by`, `create_time`, `del_status`)
	    values (#{typeName}, #{uniqueType}, #{keyName}, #{keyValue}, #{orderBy}, #{createTime}, #{delStatus})
    </update>

    <update id="update">
        update comm_params_info  
        <set> 
            <if test= "id != null ">`id` = #{id}, </if>
            <if test= "typeName != null ">`type_name` = #{typeName}, </if>
            <if test= "uniqueType != null ">`unique_type` = #{uniqueType}, </if>
            <if test= "keyName != null ">`key_name` = #{keyName}, </if>
            <if test= "keyValue != null ">`key_value` = #{keyValue}, </if>
            <if test= "orderBy != null ">`order_by` = #{orderBy}, </if>
        </set> 
        where id = #{id}
    </update>
    <update id="remove">
        update comm_params_info set del_status=0 where id =#{id}
    </update>

    <update id="batchRemove">
        update comm_params_info set del_status=0 where id in " +
        <foreach item= "id" collection="array" open="(" separator= "," close=")">
        #{id}"
        </foreach>
    </update>

    <select id="get" resultType="cn.mdsoftware.mdframework.bean.entity.CommParamsInfoDO">
        select `id`, `type_name`, `unique_type`, `key_name`, `key_value`, `order_by`, `create_time`, `del_status` from comm_params_info where id = #{id}
    </select>
    <select id="listByUnique" resultType="java.util.Map">
        select `key_name`as 'name', `key_value` as 'value' from comm_params_info where unique_type = #{uniqueType} order by order_by asc
    </select>
    <select id="listByUniqueApi" resultType="java.util.Map">
        select `key_name`as 'value', `key_value` as 'key' from comm_params_info where unique_type = #{uniqueType} order by order_by asc
    </select>
    <select id="listByUniqueIn" resultType="java.util.Map">
        select `key_name`as 'name', `key_value` as 'value' from comm_params_info where unique_type in (#{uniqueType} order by order_by asc
    </select>
    <select id="list" resultType="cn.mdsoftware.mdframework.bean.entity.CommParamsInfoDO">
        select * from comm_params_info
        <where> and del_status=1
        <if test="id != null and id != ''"> and id = #{id} </if>
        <if test="typeName != null and typeName != ''"> and type_name = #{typeName}</if>
        <if test="uniqueType != null and uniqueType != ''"> and unique_type = #{uniqueType}</if>
        <if test="keyName != null and keyName != ''"> and key_name = #{keyName} </if>
        <if test="keyValue != null and keyValue != ''"> and key_value = #{keyValue} </if>
        <if test="orderBy != null and orderBy != ''"> and order_by = #{orderBy} </if>
        <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
        <if test="delStatus != null and delStatus != ''"> and del_status = #{delStatus} </if>
        </where>
         <choose>
          <when test="sort != null and sort.trim() != ''">
          order by ${sort} ${order}
          </when>
                 <otherwise>
          order by id desc
          </otherwise>
          </choose>
          <if test="offset != null and limit != null">
          limit #{offset}, #{limit}
          </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from comm_params_info 
        <where> and del_status=1 
        <if test="id != null and id != ''"> and id = #{id}   </if>
        <if test="typeName != null and typeName != ''"> and type_name = #{typeName}   </if>
        <if test="uniqueType != null and uniqueType != ''"> and unique_type = #{uniqueType}   </if>
        <if test="keyName != null and keyName != ''"> and key_name = #{keyName}   </if>
        <if test="keyValue != null and keyValue != ''"> and key_value = #{keyValue}   </if>
        <if test="orderBy != null and orderBy != ''"> and order_by = #{orderBy}   </if>
        <if test="createTime != null and createTime != ''"> and create_time = #{createTime}   </if>
        <if test="delStatus != null and delStatus != ''"> and del_status = #{delStatus}   </if>
        </where>
    </select>

</mapper>