<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mdsoftware.mdframework.dao.ProvinceDao">
     <sql id="Base_Column_List">
    		obj.*
    	</sql>
    	<sql id="Join_Sql">
    	</sql>
       <sql id="Criteria_Sql">
            <where>
                            <if test="id != null and id != ''"> and obj.id = #{id} </if>
                            <if test="provinceid != null and provinceid != ''"> and obj.provinceid = #{provinceid} </if>
                            <if test="province != null and province != ''"> and obj.province = #{province} </if>
                          </where>
       </sql>

	<select id="get" resultType="cn.mdsoftware.mdframework.bean.entity.ProvinceDO">
		select
		<include refid="Base_Column_List" />
		from province obj
		<include refid="Join_Sql" />
		where obj.id = #{value}
	</select>

	<select id="list" resultType="cn.mdsoftware.mdframework.bean.entity.ProvinceDO">
		select
		    <include refid="Base_Column_List" />
		from province obj
       <include refid="Join_Sql" />
       <include refid="Criteria_Sql" />
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by obj.${sort} ${order}
            </when>
			<otherwise>
                order by obj.id desc
			</otherwise>
        </choose>
	</select>

 	<select id="count" resultType="int">
		select count(1) from province obj
		<include refid="Join_Sql" />
		<include refid="Criteria_Sql" />
	</select>

	<insert id="save" parameterType="cn.mdsoftware.mdframework.bean.entity.ProvinceDO" useGeneratedKeys="true" keyProperty="id">
		insert into province
		(
			`provinceid`, 
			`province`
		)
		values
		(
			#{provinceid}, 
			#{province}
		)
	</insert>

	<update id="update" parameterType="cn.mdsoftware.mdframework.bean.entity.ProvinceDO">
		update province
		<set>
			<if test="provinceid != null">`provinceid` = #{provinceid}, </if>
			<if test="province != null">`province` = #{province}</if>
		</set>
		where id = #{id}
	</update>

	<update id="remove">
		update province set del_status=0 where id = #{value}
	</update>

	<update id="batchRemove">
		update province set del_status=0  where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>